* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  color: white;
}
.close {
  display: none;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  color: #282938;
}
.header {
  background-color: #1c1e53;
  padding-top: 16px;
  padding-bottom: 130px;
}
ul {
  list-style: none;
  display: flex;
  gap: 32px;
  margin-left: auto;
  cursor: pointer;
  opacity: 0.8;
}
a {
  text-decoration: none;
  color: #fff;
}

.header-top {
  margin-bottom: 126px;
  display: flex;
  justify-content: space-between;
  height: 92px;
  align-items: center;
}
.ul li {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.btn {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  background: transparent;
  padding: 16px 48px;
  cursor: pointer;
  color: #fff;
  margin-left: 50px;
}
.btn:hover {
  opacity: 0.9;
  position: relative;
  top: -1px;
}
/* header inner */
.header-inner {
  display: flex;
  justify-content: space-between;
}
.header-info {
  height: 582px;
}
.header-title {
  margin-bottom: 24px;

  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.header-text {
  margin-bottom: 48px;
  width: 562px;
}

.header-btn {
  display: inline-block;
  border-radius: 41px;
  background: #fcd980;

  padding: 13px 50px;
  margin-right: 40px;

  color: #1b1c2b;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
}
.header-link {
  line-height: 1.7;
  position: relative;
}
.header-link::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow.png);
  bottom: 5px;
  right: -39px;
}
.header-img {
  margin-top: 15px;
}
/* ++++++++++++++++++++++++++++++++++++++++++++SECTION WORK++++++++++++*/
.section-work {
  padding-top: 130px;
  padding-bottom: 130px;
  color: #282938;
  background: #f4f6fc;
}
.section-work-row {
  display: flex;
  gap: 142px;
}

.work-title {
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 16px;
}
.work-info {
  margin-bottom: 16px;
  width: 405px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  opacity: 0.7;
}
.work-link {
  color: #2405f2;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.7;
  position: relative;
}
.work-link::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow\ 2.png);
  bottom: 5px;
  right: -39px;
}
.section-work-cards {
  display: flex;

  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 25px;
}
.img-cards {
  display: block;
  margin-bottom: 16px;
  position: relative;
}
.img-cards::after {
  position: absolute;
  content: '01';
  width: 25px;
  height: 10px;

  top: 8px;
  left: 18px;
  color: white;
  font-size: 18px;
}
.img-cards--2::after {
  position: absolute;
  content: '02';
  width: 25px;
  height: 10px;

  top: 8px;
  left: 18px;
  color: white;
  font-size: 18px;
}
.img-cards--3::after {
  position: absolute;
  content: '03';
  width: 25px;
  height: 10px;

  top: 8px;
  left: 18px;
  color: white;
  font-size: 18px;
}
.img-cards--4::after {
  position: absolute;
  content: '04';
  width: 25px;
  height: 10px;

  top: 8px;
  left: 18px;
  color: white;
  font-size: 18px;
}
.cart-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
}
.card-info {
  width: 303px;
  opacity: 0.7;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}
/* +++++++++++++++++++++++++PROJECT+++++++++++++++++++++++++++++++++++++++++++++ */
.projects {
  padding-top: 130px;
  padding-bottom: 130px;
}
.projects-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
}
.projects-row a {
  color: #282838;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  display: inline-block;
  position: relative;
  /* padding-right: 40px */
  transform: translate(-45px);
}
.projects-row a::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow\ black.jpg);
  bottom: 8px;
  right: -38px;
}

.projects-title {
  color: #282838;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
}

.projects-cards-row {
  display: flex;
  justify-content: space-between;
}
.card-01 {
  position: relative;
}
.card-01::after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  right: 448px;
  bottom: 7px;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
}
.card-01-title {
  position: absolute;
  left: 48px;
  top: 312px;
  width: 300px;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: white;
  cursor: pointer;
}
.card-01 p {
  position: absolute;
  color: white;
  left: 48px;
  top: 403px;
  z-index: 10;
  opacity: 0.8;
  width: 300px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
.card-01-link {
  position: absolute;
  z-index: 10;

  left: 48px;
  top: 498px;
  color: #fcd980;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
}
.card-01-link:after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow\ gold1.png);
  bottom: 8px;
  right: -38px;
  z-index: 10;
}

.card-02 {
  position: relative;
}
.card-02::after {
  position: absolute;
  content: '';
  left: 7px;
  top: 0;
  right: 0;
  bottom: 5px;
  background: linear-gradient(
    329deg,
    #1c1e53 -10.96%,
    rgba(28, 30, 83, 0.42) 103.96%
  );
}
.card-02-title {
  position: absolute;
  left: 65px;
  top: 129px;
  width: 292px;
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  color: white;
  cursor: pointer;
}
.card-02-link {
  position: absolute;
  z-index: 1;
  left: 65px;
  top: 213px;
  color: #fcd980;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
}
.card-02-link::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow\ gold1.png);
  bottom: 8px;
  right: -38px;
  z-index: 10;
}
.card-03 {
  padding-top: 25px;
  margin-left: 7px;
}
@media screen and (max-width: 1300px) {
  .projects-cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cards-02-03 {
    display: flex;
    justify-content: space-between;
    width: 843px;
  }
}
/* +++++++++++++++++++++DESIGN+++++++++++++++++++++++++++++++++++++++++ */
.design {
  background-color: #f4f6fc;
  padding-top: 170px;
  padding-bottom: 130px;
}
.design-p {
  color: #282938;
  font-size: 16px;
  text-align: center;
  line-height: 1.75;
  font-weight: 500;
  font-style: normal;
}
.design-h2 {
  width: 630px;
  color: #282938;
  margin: 0 auto;
  text-align: center;

  font-size: 48px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.3;
  margin-bottom: 47px;
}
.desing-card-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}
.design-card {
  width: 405px;
  padding-left: 48px;
  padding-right: 32px;
  padding-top: 58px;
  padding-bottom: 48px;
  background-color: #fff;
}
.desing-card-title {
  font-size: 24px;
  font-style: normal;
  color: #282938;
  line-height: 1.5;
  font-weight: 500;
  margin-top: 22px;
  margin-bottom: 12px;
}
.desing-card-info {
  color: #282938;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  opacity: 70%;
}
/* +++++++++++++++++++++++++SLIDER++++++++++++++++++++++++++++++++++++ */
.slider {
  background: #f4f6fc;
  padding-top: 130px;
  padding-bottom: 130px;
}

.slider-inner {
  display: flex;
  justify-content: space-between;
}
.slider-left-block {
  width: 327px;
}
.left-block-title {
  color: #282938;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
.left-block-text {
  color: #282938;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 70%;
}
.slider-right-block {
  position: relative;
  width: 843px;
}
.arrow-left {
  position: absolute;
  right: 58px;
  bottom: 90px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.arrow-left:hover{
  background-color: #2405f2;
  
 
}
.arrow-left::after {
  position: absolute;
  content: '<';
  color: rgba(40, 41, 56, 0.6);

  font-size: 40px;
  top: -5px;
  right: 15px;
  z-index: 10;
}
.arrow-left:hover::after {
  position: absolute;
  content: '<';
  color: #ffffff;
   font-size: 40px;
  top: -5px;
  right: 15px;
  z-index: 15;
}


.arrow-right {
  position: relative;
  right: -795px;
  bottom: 90px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.arrow-right:hover{
  background-color: #2405f2;
  
 
}
.arrow-right::after {
  position: absolute;
  content: '>';
  color: rgba(40, 41, 56, 0.6);

  font-size: 40px;
  top: -5px;
  right: 15px;
  z-index: 10;
}
.arrow-right:hover::after {
  position: absolute;
  content: '>';
  color: #ffffff;
   font-size: 40px;
  top: -5px;
  right: 15px;
  z-index: 15;
}

.slider-item-title {
  color: #282938;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;

  margin-bottom: 48px;
}

.slider-info {
  display: flex;
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.slider-info span {
  display: block;

  color: #282938;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
  font-style: normal;
}
.avatar-info {
  color: #282938;
  font-size: 12px;
  line-height: 28px;
}
/* +++++++++++++++++++++++FAQ+++++++++++++++++++++++++++++++++++++ */
.faq {
  margin-top:128px ;
  margin-bottom: 128px;
  /* margin-left: 158px; */

}
.faq-container{display: flex;
}

.faq-block {height: 160px;
  width: 328px;
  padding-right: 12px;
}
.faq-title {
  font-size: 36px;
  line-height: 56px;
  font-weight: 600;
}
.faq-link {
  margin-top: 16px;
}
.faq-link a{color: #2405F2;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-top: 16px;

}
.faq-question-block {width: 846px;
  margin-left: 109px;
  margin-top: 7px;
}
.questions {margin-left: 27px;
}


.faq-question {font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
  
}

.faq-question-number {margin-right: 59px;
  color: #2405F2;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  font-style: normal;
}

.faq-plus-sign {
  display: block;
  font-size: 32px;
  font-weight: 300;
  float: right;
  color: hwb(236 16% 78% / 0.699);
 transition: transform 0.3s ease; 
 transform-origin: center;
}
.faq-text {display: block;
  width: 624px;
  font-size: 18px;
  color: hwb(236 16% 78% / 0.87);
line-height: 32px;
font-weight: 500;
margin-left: 90px;
margin-top: 16px;

}
.answer{
  display: none;
}
.rotate{
  transform: rotate(45deg);
  
 
}
.faq-question-divider{
  border: 1px solid #ECECF1;
  width: 843px;
  margin: 32px 0;
}
/* +++++++++++++++++++++++Contact form++++++++++++++++++++++++++++++++++++ */
.contact-form {

 

  margin-top: 128px;
  margin-bottom: 128px;
}

.hero-convert {
  height: 691px;
  width: 1280px;
  background-color: #aeacbd;
  background-image: url(/source/img/backGr.png);
  background-repeat: no-repeat;
  display: flex;
}
.convert-block {width:656px;
}

.convert-heading {
  padding-top: 96px;
  margin-left: 96px;
  width: 464px;
}
.head-title {
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  color: #ffffff;
}
.head-text {
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  margin-top: 30px;
}
.form-block {
  height: 691px;
  width: 624px;
  background-color: #1C1E53;

}
.form-block h5{
  color: #ffffff;
  font-size: 32px;
  line-height: 48px;
font-weight: 500;

  margin-top: 96px;
margin-left: 96px;
}
.form-block p{
  color: #ffffff;
  margin-left: 96px;
  margin-top: 16px;
  margin-bottom: 40px;
  width: 432px;
  font-size: 16px;
  line-height: 28px;
  

}

.form-place-holder input{
 
  border: 1.5px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 8px;
 width: 432px;
 height: 64px;
 margin-left: 96px;
 margin-bottom: 16px;
 background-color: #1C1E53;
 color: #fff;
 font-size: 16px;
font-family: 'Poppins',  monospace;
line-height: 28px;
text-indent: 32px;
}
 input::placeholder{
 
color: rgba(244, 246, 252, 0.50);
font-size: 16px;
font-family: 'Poppins',  monospace;
line-height: 28px;
font-weight: 300;
}
.form-place-holder button{
  cursor: pointer;
  margin-left: 96px;
  width: 432px;
  height: 64px;
  border-radius: 41px;
  background: #FCD980;
  font-size: 18px;
font-family: 'Poppins',  monospace;
line-height: 32px;
font-weight: 600;
border: none;
color: #1B1C2B;
margin-top: 23px;

}
.form-block a{
  
  display: block;
  margin-left: 190px;
  margin-top: 28px;
  position: relative;
  font-size: 18px;
  line-height: 32px;

}
.form-block a::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow\ white.png);
 bottom: 10px;
    left: 193px;
  
}
/* +++++++++++++++++++++++our blog+++++++++++++++++++++++++++++++ */
.our-blog {
  margin-bottom: 128px;
}

.hero-blog {
  
}
.our-blog-title {
  color: #282938;
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}
.our-blog-blocks {
  margin-top: 64px;
  display: flex;
  justify-content: space-between;

}
.our-blog-block {
  width: 405px;
}
.our-blog-date {color: hsla(236, 17%, 19%, 0.7);
font-size: 16px;
line-height: 28px;
margin-top: 40px;
margin-bottom: 16px;
font-weight: 500;
}
.our-blog-info {
  color: #282938;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  }

.our-blog-text {
  color: hsla(236, 17%, 19%, 0.7);
  font-size: 16px;
line-height: 28px;
font-weight: 400;
margin-top: 16px;
margin-bottom: 32px;
}
.our-blog-block button{
  position: relative;
  height: 28px;
  width: 123px;
  border: none;
  background-color: white;

color: #282938;
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  text-align: left;
  font-family: 'Poppins';

  cursor: pointer;                         
}
button::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 12px;
  background-image: url(/source/img/Arrow\ blue282938.png);
  bottom: 8px;
  left: 98px;
  }